[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=7.2.0"
pytest-cov = "*"
pytest-watch = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
black = "==24.3.0"
matplotlib = "*"

[packages]
snps = {editable = true,path = "."}

[requires]
python_version = "3.*"
certifi = ">=2024.7.4"
fonttools = ">=4.43.0"
jinja2 = ">=3.1.4"
numpy = ">=1.22"
pillow = ">=10.3.0"
pygments = ">=2.15.0"
requests = ">=2.32.0"
urllib3 = ">=2.2.2"
